{#
/**
 * @file
 * Twig file for rendering the CSS that alters the environment appearance.
 */
#}
<style type="text/css">
  {% if toolbar_background_color %}
    .toolbar .toolbar-bar {
      background-color: {{ toolbar_background_color }};
    }
  {% endif %}

  {% if toolbar_text_color %}
    .toolbar .toolbar-bar .toolbar-item {
      color: {{ toolbar_text_color }};
    }
  {% endif %}

  {% if environment_name %}
    .toolbar #toolbar-item-administration:after {
      content: ' ({{ environment_name }})';
    }
  {% endif %}
</style>
